@charset "utf-8";
.sound_only, .btn_cke_sc, input[type=file]{display: none;}

.form_01 .tree .cate_sub li{
    display: inline-block;
    margin-right: 1rem;
}

.form_01 .tree .pos li{
    display: inline-block;
    margin-right: 1rem;
}

.form_01 .tree .cate_sub li label,.form_01 .tree .pos li label{
    margin-left: 1rem;
}

.form_01 .tree h2{
    font-size: 2.4rem;
    color: #1d2088;
    display: inline-block;
    border-bottom: 1px solid #1d2088;
    line-height: 5rem;
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 600;
}

.form_01 .bo_w_field label, .input-label{
    min-width: 12rem;
}

.bo_w_field{
    margin: 1rem 0;
}

/*
.product_cate_sub{display: none;}
*/